@model Project
@{
    ViewData["Title"] = "Delete Project";
}


<h2>Delete Project</h2>



<div class="alert alert-danger">
    <h3>Are you Sure you want to Delete this Project?</h3>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>

        <!-- Add any other properties you wish to display -->

    </dl>
</div>


<form asp-action="DeleteConfirmed" method="post">
    @Html.HiddenFor(model => model.ProjectId)

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" asp-route-projectId="@Model.ProjectId" class="btn btn-secondary">Cancel</a>
</form>


@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}